body {
  background: url(../images/bg_full.jpg);
  background-size: cover;
  background-color: #000000;
  background-repeat: stretch;
  color: white;
}
.navbar-default {
  background: url(../images/background.jpg);
  background-size: cover;
  border-radius: 10px;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.welcome {
  color: #00a2ff;
  font-size: 25px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 50px;
}
.developing a {
  height: 200px;
  display: block;
  border-radius: 20px;
  background-color: rgba(0, 255, 255, 0.4);
  text-align: center;
  color: #ffffff;
  /* 0~1 之间  4个参数 不能省略，前面三个代表颜色，后面是为透明度 */
}
.lyyousaButton {
  height: 200px;
  padding: 0 20px;
  background: url(../images/lyyousacover.webp);
  background-size: cover;
  background-repeat: stretch;
  border-radius: 20px;
  opacity: 1 !important;
  text-align: center;
  font-size: 20px;
  color: white;
}
.timer {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  border: 2px solid white;
  border-radius: 30px;

  background-color: #b45fd6;
}
